html,
body {
  overflow: hidden;
}

::selection {
  background-color: #666;
  color: white;
}

body {
  margin: 0 auto;
  font-family: system-ui, sans-serif;
  color: #666;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  width: 85%;
  max-width: 860px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
