<footer>
  <p>
    &copy; {new Date().getFullYear()} Niclas Lövdahl.
    <a
      href="https://github.com/niclaslovdahl/niclaslovdahl.com"
      target="_blank"
    >
      View Source
    </a>
  </p>
</footer>

<style>
  footer {
    padding-bottom: 1em;
    text-align: left;
  }


</style>
